.page_title{
	color:#0C4A60;;
	text-align: center;
	margin-bottom:10vh;
	text-transform: uppercase;
}


.page_container{

	max-width: 1000px;
	padding-top:20vh;
	padding-bottom:10vh;

	min-height: 80vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}



#page_content{
	padding:50;
}


#page_content p,#page_content li{
		font-size:1.8em;

}

#page_content h3{
	color: orange;
}


.postsGrid{
	display:flex;
	flex-direction: row;
	align-items: center;
	max-width: 2000px;
	flex-wrap: wrap;
}

.wide_page_container{
	padding-top: 20vh;
min-height: 85vh;
}

